body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.favorites-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.favorites-icon {
    width: 24px;
    height: 24px;
}

.favorites-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1000;
}

.favorites-menu h2 {
    margin-top: 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.clear-button {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clear-button:hover {
    background-color: #cc0000;
}

.search-bar {
    position: relative;
    margin-bottom: 20px;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    gap: 30px;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    width: 200px;
    height: 400px;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    user-select: none;
    transition: 0.4s ease;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.id {
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    background-color: red;
    color: #fff;
    padding: 5px;
    font-weight: 800;
}

.Name {
    font-size: 20px;
    font-weight: 900;
}

.Img {
    max-width: 100px;
    width: 100%;
    margin: 20px auto;
    background-color: transparent;
    user-select: none;
}

.Type {
    font-size: 20px;
    background-color: rgb(196, 228, 255);
    padding: 5px;
    border-radius: 20px;
}

.Spawn {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: cyan;
    color: black;
    padding: 5px;
    border-bottom-left-radius: 10px;
    font-weight: 800;
}

.Weaknesses {
    color: rgb(128, 0, 124);
    font-size: 14px;
    font-weight: 900;
}

.Star {
    position: absolute;
    top: 30px;
    left: 20px;
    background-image: url(https://pokemonsfull.netlify.app/images/pokeStarIconWhite.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.Star.favorite {
    background-image: url(https://raw.githubusercontent.com/SUNNATBEE/PokemonsFullVersion/5c90c25bbf930b187fed6133cd51d5aa79099bde/images/pokeStarYellow.svg);
}
h1,
.search-bar {
    margin-left: 20px;
    margin-right: 20px;
}